.CityDetailContainer {
    width: 50%;
    margin: 10px auto 0 auto;
}

.CityDetail {
    border-radius: 2rem;
    width: 100%;
}

.Date {
    margin-right: 20px;
}

.MoreDesc {
    display: grid;
    justify-content: space-between;
    grid-template-columns: auto auto;
    padding: 0 10%;
}

.DescDetails {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

.Labels {
    color: #ddd;
}
