header {
    border-bottom: 1px solid #ddd;
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        max-width: 1100px;
        margin: 0 auto;

        a {
            display: inline-block;
            padding: 0.5rem;
        }

        .Nav-Title {
            font-size: 1.5rem;
            font-weight: 600;
            cursor: pointer;
        }
        .NavItemContainer {
            display: flex;
            align-items: center;
            min-width: 145px;

            a {
                &:hover {
                    color: darken($secondary-color, 70%);
                    &::before {
                        position: relative;
                        content: "";
                        display: block;
                        height: 2px;
                        width: 100%;
                        background-color: $primary-color;
                    }
                }
            }
            .Active {
                color: darken($secondary-color, 70%);
                &::before {
                    position: relative;
                    content: "";
                    display: block;
                    height: 2px;
                    width: 100%;
                    background-color: $primary-color;
                }
            }
        }
    }
}
