$primary-color: #333;
$secondary-color: #f4f4f4;

body {
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    background: linear-gradient(180deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8));
    color: $secondary-color;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    width: 100%;
    line-height: 1.35;
}
@import "utilities";
@import "Header";
@import "Main";
@import "City";
@import "CityDetail";
@import "myCities";
