body {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.8)));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8));
  color: #f4f4f4;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  width: 100%;
  line-height: 1.35;
}

body * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container,
.MyCityContainer {
  max-width: 1100px;
  padding: 0 30px;
  margin: 0 auto;
  overflow: auto;
}

h1 {
  font-size: 3rem;
  text-align: center;
}

h2 {
  font-size: 2rem;
  text-align: center;
}

a {
  text-decoration: none;
  color: #f4f4f4;
}

a:hover {
  text-decoration: none;
  color: #f4f4f4;
}

hr {
  margin: 10px 0;
}

header {
  border-bottom: 1px solid #ddd;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
  max-width: 1100px;
  margin: 0 auto;
}

header nav a {
  display: inline-block;
  padding: 0.5rem;
}

header nav .Nav-Title {
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
}

header nav .NavItemContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 145px;
}

header nav .NavItemContainer a:hover {
  color: #424242;
}

header nav .NavItemContainer a:hover::before {
  position: relative;
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background-color: #333;
}

header nav .NavItemContainer .Active {
  color: #424242;
}

header nav .NavItemContainer .Active::before {
  position: relative;
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background-color: #333;
}

.title {
  font-weight: 600;
  text-shadow: 4px 5px #757575;
  padding: 2rem 1.5rem;
}

form {
  margin-bottom: 3rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

form .form-control {
  background-color: #c1c1c1;
  border: none;
  height: 2.5rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

form .form-control:focus {
  background-color: #dbdbdb;
}

form .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  width: 100px;
}

.title-tag {
  text-shadow: 2px 3px #757575;
}

.error_msg {
  width: 90%;
  max-width: 500px;
  text-align: center;
}

.spinner,
.error_msg {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
}

.City,
.CityDetail {
  border-radius: 1rem;
  width: 300px;
  padding: 0 1.5rem 0.8rem;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 3px 6px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 6px 1px rgba(0, 0, 0, 0.2);
  text-shadow: 1px 2px rgba(50, 50, 70, 0.5);
  font-weight: 500;
}

.City_Head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.CityName {
  font-size: 2rem;
  font-weight: 800;
  text-shadow: 2px 3px rgba(50, 50, 70, 0.5);
}

.WeatherDescription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.CityContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5%;
}

.Temperature {
  font-size: 5rem;
  font-weight: 900;
  text-shadow: 2px 4px rgba(50, 50, 70, 0.5);
}

.Button {
  height: 40px;
  width: 40px;
  border-radius: 5px;
  margin-right: 5px;
  outline: none;
  cursor: pointer;
}

.TempContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.TempCategories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

.Date_Time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-style: italic;
  gap: 1rem;
}

.WeatherCondition {
  font-size: 2rem;
  font-weight: 800;
  text-shadow: 2px 3px rgba(50, 50, 70, 0.5);
}

.Description {
  text-align: center;
}

.MoreDetails,
.AddFav,
.RemoveFav {
  text-align: center;
  cursor: pointer;
  margin: 0.5rem auto;
}

.MoreDetails:hover,
.AddFav:hover,
.RemoveFav:hover {
  color: #ddd;
}

.Icon {
  width: 70px;
}

.CityDetailContainer {
  width: 90%;
  max-width: 650px;
  margin: 1rem auto 2rem;
}

.CityDetail {
  border-radius: 2rem;
  width: 100%;
}

.MoreDesc {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  padding: 0 10%;
}

.DescDetails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 20px;
}

.Labels {
  color: #ddd;
}

.MyCityContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 30px;
}

.myCities {
  text-align: center;
  font-weight: 700;
  color: #0d1136;
  font-size: 30px;
  margin-bottom: 1.5rem;
}

.citiesContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.5rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.empty {
  text-align: center;
  font-weight: 700;
  color: #77798c;
  margin: 40px 15px;
}
