.City {
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    width: 300px;
    padding: 10px;
}

.CityName {
    font-size: 24px;
    /* color: #292828; */
    margin: 0;
}

.WeatherDescription {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: flex-end;
}

.CityContainer {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.Temperature {
    font-size: 40px;
}

.Button {
    height: 40px;
    width: 40px;
    border-radius: 5px;
    margin-right: 5px;
    outline: none;
    cursor: pointer;
}

.TempContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.TempCategories {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
}

.Active {
    background-color: #38a3ff;
    color: #fff;
}

.Dark {
    background: linear-gradient(to top, #283e51, #0a2342);
    color: #fff !important;
}

.Sunny {
    background: linear-gradient(to right, #2bc0e4, #eaecc6);
    color: #000;
}

.Stormy {
    background: linear-gradient(45deg, black, transparent);
    color: "#fff";
}
